<div id="users" class="transitions-enabled">
  <% @users.each do |user| %>
    <div class="box">
      <%= link_to image_tag(user.avatar.url(:medium)), user, class: "img-circle" %>
      <div class="panel-body center">
        <strong><%= user.name %></strong><br/>
      </div>
    </div>
  <% end %>
</div>