<div class="row">
	<div class="col-md-12 center">
		<h1>Welcome to Squidly!</h1>
	<p>
		<%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
		<%= link_to "Artist sign up", new_artist_path, class: "btn btn-primary btn-lg" %>
	</p>
	</div>
</div>