<div id="map_canvas">
	<div id="control_container">
		<div id="map_search">
			<form input type="text">
				<a href="#" id="map_search_submit"><i class="fa fa-search"></i></a>
			</form>
		</div>
		<div id="results">
			
		</div>
	</div>
</div>